<!DOCTYPE html>
<html>
  <head>
    <title>WVU Pattern Library - Starter Kit</title>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    {{#_wvu-starter-kit.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-starter-kit.css}}

    {{#_wvu-masthead.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead.css}}

    {{#_wvu-masthead__logo.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead__logo.css}}

    {{#_wvu-masthead__links.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-masthead__links.css}}

    {{#_wvu-footer.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-footer.css}}

    {{#_wvu-footer__credits.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-footer__credits.css}}

    {{#_wvu-footer__links.css}}
    <link href="{{src}}" rel="stylesheet" />
    {{/_wvu-footer__links.css}}
  </head>
  <body>
    {{> handlebars/_wvu-masthead}}

    {{> handlebars/_wvu-footer}}
  </body>
</html>
